<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <h1>{{title}}</h1>

        <h2 v-if="onsale">$999</h2>
        <h2 v-else>$1500</h2>

        <div v-if="num > 10">熱賣中</div>
        <div v-else-if="num > 0 && num < 10">低庫存</div>
        <div v-else>補貨中</div>

        <div>
            {{items}}
        </div>
        
        <div v-for="(item,idx) in items">{{item}} -- {{idx}}</div>
        <div v-for="(data,idx) of items">{{idx}}--{{data}} </div>

        <ul>
            <li v-for="(todo,idx) in todos">
                {{todo.id}} : {{todo.title}} -- 索引:{{idx}}
            </li>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    title:'hello Vue',
                    onsale:true,
                    num:16,
                    items:[
                        'apple',
                        'banana',
                        'cat',
                        'dog',
                        'elephant'
                    ],
                    todos:[
                        {
                            id:1,
                            title:'吃飯'
                        },{
                            id:2,
                            title:'睡覺'
                        },{
                            id:3,
                            title:'打咚咚'
                        },{
                            id:4,
                            title:'test'
                        }
                    ]
                }
            },
        })
        app.mount('#app');

    </script>
</body>
</html>